<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="primaryKey" value="f92fa0e49bdb4cdba9da39e6e1327aba" />
    <add key="secondaryKey" value="a0e82dd6322b46d3ad5dcdaaff0363f3" />
  </appSettings>
</configuration>